In [1]:
import pandas as pd
import sys
import os
sys.path.insert(0,"../")

In [26]:
# first get the training predictions
coin = "sol"
filename = "_all_predictions.csv"
file_name = coin + filename

In [27]:
file_name

'sol_all_predictions.csv'

In [28]:
training_predictions_df = pd.read_csv("./training_configs/"+file_name)

In [29]:
training_predictions_df.head()

,date,nbeats_sol_lookback_15_window_5_std_1.25_num_add_dfs_2,tcn_sol_lookback_15_window_5_std_1.25_num_add_dfs_2,nbeats_sol_lookback_30_window_5_std_1.25_num_add_dfs_2,tcn_sol_lookback_30_window_5_std_1.25_num_add_dfs_2,nbeats_sol_lookback_45_window_5_std_1.25_num_add_dfs_2,tcn_sol_lookback_45_window_5_std_1.25_num_add_dfs_2,date_prediction_for,test_model_lookback_1
0,2010-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
1,2020-07-10,0.683997,0.589655,0.155477,1.007208,0.414472,0.538879,2020-07-17,0.0
2,2020-07-11,0.354240,0.624552,0.860836,0.986030,1.537185,1.044099,2020-07-18,0.0
3,2020-07-12,0.873271,0.584677,0.281146,0.687070,1.463466,0.629490,2020-07-19,0.0
4,2020-07-13,0.311964,1.002566,0.665502,0.875183,1.286168,0.620524,2020-07-20,0.0

In [30]:
# read in current predictions
current_predictions  =  pd.read_csv("../tmp/"+file_name)

In [31]:
current_predictions.head()

,date,nbeats_sol_lookback_15_window_5_std_1.25_num_add_dfs_2,tcn_sol_lookback_15_window_5_std_1.25_num_add_dfs_2,nbeats_sol_lookback_30_window_5_std_1.25_num_add_dfs_2,tcn_sol_lookback_30_window_5_std_1.25_num_add_dfs_2,nbeats_sol_lookback_45_window_5_std_1.25_num_add_dfs_2,tcn_sol_lookback_45_window_5_std_1.25_num_add_dfs_2,date_prediction_for,nbeats_sol_lookback_45_window_5_std_1.25_num_add_dfs_4,stacking_prediction,tcn_sol_lookback_15_window_5_std_1.25_num_add_dfs_4,tcn_sol_lookback_30_window_5_std_1.25_num_add_dfs_4,tcn_sol_lookback_45_window_5_std_1.25_num_add_dfs_4,nbeats_sol_lookback_30_window_5_std_1.25_num_add_dfs_4,nbeats_sol_lookback_15_window_5_std_1.25_num_add_dfs_4,test_model_lookback_1
0,2022-04-06,127.918943,108.910681,133.624551,113.846338,146.556856,105.279559,2022-04-13,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1,2022-04-07,121.514518,120.958059,146.732041,112.329092,154.600236,117.955996,2022-04-14,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,2022-04-08,115.797776,115.278302,129.502158,99.287478,163.989971,107.442560,2022-04-15,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,2022-04-10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2022-04-17,136.525503,0.0,109.475294,107.935125,109.380861,124.081166,114.097485,0.0
4,2022-04-11,123.332656,115.667156,128.376457,110.033273,135.518207,96.535309,2022-04-18,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

## combine both DFs

In [32]:
updated_current_predictions_df = pd.concat([training_predictions_df, current_predictions]).fillna(0)

In [33]:
updated_current_predictions_df

,date,nbeats_sol_lookback_15_window_5_std_1.25_num_add_dfs_2,tcn_sol_lookback_15_window_5_std_1.25_num_add_dfs_2,nbeats_sol_lookback_30_window_5_std_1.25_num_add_dfs_2,tcn_sol_lookback_30_window_5_std_1.25_num_add_dfs_2,nbeats_sol_lookback_45_window_5_std_1.25_num_add_dfs_2,tcn_sol_lookback_45_window_5_std_1.25_num_add_dfs_2,date_prediction_for,test_model_lookback_1,nbeats_sol_lookback_45_window_5_std_1.25_num_add_dfs_4,stacking_prediction,tcn_sol_lookback_15_window_5_std_1.25_num_add_dfs_4,tcn_sol_lookback_30_window_5_std_1.25_num_add_dfs_4,tcn_sol_lookback_45_window_5_std_1.25_num_add_dfs_4,nbeats_sol_lookback_30_window_5_std_1.25_num_add_dfs_4,nbeats_sol_lookback_15_window_5_std_1.25_num_add_dfs_4
0,2010-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,2020-07-10,0.683997,0.589655,0.155477,1.007208,0.414472,0.538879,2020-07-17,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,2020-07-11,0.354240,0.624552,0.860836,0.986030,1.537185,1.044099,2020-07-18,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,2020-07-12,0.873271,0.584677,0.281146,0.687070,1.463466,0.629490,2020-07-19,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,2020-07-13,0.311964,1.002566,0.665502,0.875183,1.286168,0.620524,2020-07-20,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2022-05-25,45.473258,48.725201,47.211872,53.891211,40.018658,51.195659,2022-06-01,0.0,0.0,50.363962,0.0,0.0,0.0,0.0,0.0
43,2022-05-26,41.550780,45.640500,34.655675,53.344740,48.060507,44.349129,2022-06-02,0.0,0.0,49.136013,0.0,0.0,0.0,0.0,0.0
44,2022-05-27,34.362949,45.203403,41.142214,45.127443,39.553606,43.236421,2022-06-03,0.0,0.0,45.460588,0.0,0.0,0.0,0.0,0.0
45,2022-05-28,28.841012,42.662138,44.324708,44.755593,39.326984,58.337670,2022-06-04,0.0,0.0,44.058238,0.0,0.0,0.0,0.0,0.0
46,2022-05-29,41.527224,44.077081,33.972471,43.952825,36.269438,54.096644,2022-06-05,0.0,0.0,43.182325,0.0,0.0,0.0,0.0,0.0

# save filename

"../tmp/"+file_name

In [25]:
updated_current_predictions_df.to_csv("../tmp/"+file_name, index=False)